{
  "extends": "@antfu/eslint-config-react",
  "rules": {
    "indent": [
      "error",
      2
    ],
    "complexity": [
      "error",
      5
    ],
    "max-len": [
      "error",
      120
    ]
  },
  "ignorePatterns": [
    "**/test/mocks/products.json"
  ]
}
